@keyframes start-anim {
  0% {
    transform: translate(-100%, 100%) rotate(calc(360deg * -1.5));
  }

  100% {
    transform: translate(0, 0) rotate(0);
  }
}

html {
  font-size: 14px;
}

body {
  overflow: hidden;
  background: url(../imgs/tablewood.jpg) center top;
  background-size: auto calc(260px / 2);
  font-family: 'Ma Shan Zheng', cursive;
  perspective: 1500px;
}

.leaflet {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 30vw;
  height: 30vw;
  transform-style: preserve-3d;
  transition: 0.45s;
  cursor: pointer;
  animation: start-anim 2s;
}

.page,
.page__face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.page {
  transition: transform 1s;
}

.page:nth-child(1) {
  transform-origin: left;
  z-index: 3;
}

.page:nth-child(3) {
  transform-origin: right;
  z-index: 2;
}

.page:nth-child(1).is-fliped {
  transform: rotateY(-150deg);
}
.page:nth-child(3).is-fliped {
  transform: rotateY(150deg);
}

.page__face {
  background-color: cornsilk;
  backface-visibility: hidden;
}

.page__face:nth-child(2) {
  transform: rotateY(180deg);
}

.page:nth-child(3) .page__face:nth-child(1) {
  font-size: 3.2rem;
}

.page:nth-child(1) .page__face:nth-child(2),
.page:nth-child(2) .page__face:nth-child(1),
.page:nth-child(3) .page__face:nth-child(2) {
  background-color: #fff;
}

.decoration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.decoration::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  border: 1px solid tan;
}

.cover-page {
  font-size: 1.5rem;
}

.cover-page h2 {
  font-size: 3.3rem;
}

.cover-page__header-desc {
  display: inline-block;
  margin-bottom: 1em;
  font-family: 'Oswald', sans-serif;
}

.member {
  position: relative;
  padding-top: 1em;
  padding-left: 6em;
  transition: opacity 0.34s;
}

.member:nth-child(n + 2) {
  margin-top: 4em;
}

.member::before {
  position: absolute;
  left: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background: url(../imgs/ilbuni.gif) center top / contain;
  border-radius: 50%;
  content: '';
}

.member__tit {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.member__desc {
  font-size: 0.9rem;
}

.member__btn {
  position: absolute;
  top: 1em;
  right: 0;
  opacity: 0;
  visibility: hidden;
}

.is-zoomIn .member {
  opacity: 0;
}

.is-zoomIn .is-selected.member {
  opacity: 1;
}

.is-selected .member__btn {
  opacity: 1;
  visibility: visible;
}

.page__close {
  position: absolute;
  top: -24px;
  right: 0;
}

.hand {
  outline: 1px dashed;
  position: absolute;
  top: 70%;
  left: 70%;
  width: calc(600px / 2);
  height: calc(768px / 2);
}

.hand img {
  max-width: 100%;
  transform-origin: 50px top;
  transition: transform 0.45s;
}

.is-zoomIn .hand img {
  transform: scale(2);
}
